---
const { title } = Astro.props;
---

<div class="top">
  <img src="/public/assets/icon-star.svg" alt="" aria-hidden="true" />
  <h2>{title}</h2>
</div>

<style>
  h2 {
    font-size: clamp(40px, 3cqw, 55px);
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .top {
    padding-top: 40px;
    display: flex;
    justify-self: start;
    gap: 22px;
    align-items: center;
    margin-bottom: 33px;
  }
</style>
